
.background{

	background-color: #1bbc9b;
}
.order{
	color:#d2d7d3;
	font-family: sans-serif;
	font-size: 12px;
}

label{
	width:7em;
	margin-bottom: 8px;
}

ol {
	list-style:none;
} 
input{
	margin-bottom: -1px;
}
li{
	padding-bottom: 1px;
	margin-top: 1px;
	white-space: 10px;
}
.button {
    margin-left: 50px;
    display: block;
    background: #136899;
    width: 60px;
    height: 35px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    }